.prop-box {
    height: auto;
    width: 280px !important;
    
}

.details div{
    width: 260px !important;
    display: flex;
    align-items: center;
    gap: 5px;
}

.wsdetails div{
    width: 260px !important;
    display: flex;
    align-items: center;
    gap: 5px;
}
